.background-text-sustainability {
	position: relative;
	padding-top: 50px;
	padding-bottom: 50px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: var(--background-color);
	background-color: var(--primary-color);

	@media (max-width: 450px) {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	&::after {
		content: "";
		display: block;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
		z-index: 2;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	&.no-image::after {
		display: none;
	}

	&__title,
	&__description {
		position: relative;
		z-index: 9;
	}

	&__title {
		margin-bottom: 300px;
		max-width: 50%;

		@media (max-width: 768px) {
			max-width: 100%;
			margin-bottom: 150px;
		}

		@media (max-width: 550px) {
			margin-bottom: 100px;
		}

		.subtitle {
			line-height: var(--line-height);
			font-size: var(--fs-xxxl);
		}

		&__subtitle {
			line-height: var(--line-height);
			font-size: var(--fs-s);
			margin-top: 20px;
		}
	}

	&__description {
		font-weight: 400;
		font-size: var(--fs-l);
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		justify-content: space-between;
		align-items: end;

		.content {
			width: 23%;

			@media (max-width: 768px) {
				width: 40%;
			}

			@media (max-width: 550px) {
				width: 100%;
			}
		}

		.line {
			flex: 1;
			background-color: var(--background-color);
			height: 6px;

			@media (max-width: 768px) {
				display: none;
			}
		}
	}
}
