.image-text-background {
	background-color: var(--light-primary-color);
	color: #fff;
	gap: 5.5%;

	&.image-text {
		&__position-left {
			justify-content: start;
		}

		&__position-right {
			justify-content: end;
		}
	}

	&__image {
		max-width: 35%;
		height: -webkit-fill-available;

		@media (max-width: 1300px) {
			max-width: 45%;
		}

		@media (max-width: 768px) {
			max-width: 100%;
		}

		img {
			border-radius: 0;
			height: 100%;
			object-fit: cover;
		}
	}

	&__content {
		width: 48%;
		padding-top: 60px;
		padding-bottom: 60px;

		@media (max-width: 1300px) {
			width: 40%;
		}

		@media (max-width: 768px) {
			width: 100%;
			padding-right: var(--padding-responsive);
			padding-left: var(--padding-responsive);
		}

		&__title {
			line-height: var(--line-height);
			font-size: var(--fs-xl);
		}

		&__subtitle {
			margin-bottom: 200px;
			line-height: var(--line-height);
			font-size: var(--fs-l);
			font-weight: 300;

			@media (max-width: 768px) {
				margin-bottom: 50px;
			}
		}
	}
}
