.quote {
	background-color: var(--light-blue-color);

	&__inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		padding-top: 100px;
		padding-bottom: 100px;
		background: url('../img/background-quote.png') var(--light-blue-color) center right no-repeat;
		background-size: contain;

		@media (max-width: 768px) {
			padding-top: 50px;
			padding-bottom: 50px;
		}
	}

	&__image {
		width: 30%;

		@media (max-width: 650px) {
			width: 100%;
			text-align: center;
			margin-top: 30px;
		}

		img {
			display: block;
			margin: 0 auto;
			overflow: hidden;
			border-radius: 50%;
		}
	}

	&__text {
		width: 65%;

		@media (max-width: 650px) {
			width: 100%;
		}
	}

	&__full {
		width: 100%;
	}

	&__title {
		font-weight: 600;
		line-height: var(--line-height);
		margin-bottom: 20px;
		font-size: var(--fs-l);
	}

	&__description {
		margin-bottom: 30px;
	}

	&__name,
	&__position,
	&__country {
		line-height: var(--line-height);
	}

	&__name {
		font-weight: 600;
	}
}