.buttons-compo {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px 35px;

	li {
		display: flex;
		flex-direction: column;

		a {
			display: inline-block;
			height: 100%;
			background-color: var(--light-blue-color);
			color: var(--primary-color);
			line-height: var(--line-height);
			font-weight: 500;
			padding: 17px 38px;
			transition: .3s ease opacity;

			&:hover,
			&:focus {
				opacity: .7;
			}

			img,
			span {
				display: inline-block;
				vertical-align: middle;
			}

			img {
				margin-right: 16px;
			}
		}
	}
}