#home {
	.contact {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.contact-us {
			width: 45%;

			h1, h2 {
				line-height: var(--line-height);
				font-size: var(--fs-xxl);
				margin-bottom: 0.5em;
			}

			.content {
				h3 {
					line-height: var(--line-height);
					font-size: var(--fs-l);
					margin-bottom: 0.5em;
				}
			}
		}

		.form {
			width: 50%;
			padding: 30px;
			background-color: var(--grey-color);
		}
	}
}
